button {
  cursor: pointer;
  border-style: none;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
}

/****************************************************** GAME JELLY BUTTON STYLE ******************************************************/
#home-btn {
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
}

.game-button {
  position: relative;
  font-family: "guava-candy";
  font-size: larger;
  letter-spacing: 2px;
  width: 20vw;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  transition: all 0.4s ease-in-out;
  /* border: 0.5px solid #727d95; */
  /* border-radius: 2rem;
  box-shadow: 0 0.5rem 0.25rem 0 rgba(22, 75, 195, 0.5),
    0 -0.25rem 0.5rem rgba(110, 15, 155, 1) inset,
    0 0.4rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.1rem 0.2rem 0 rgba(180, 70, 207, 1) inset; */
}

.game-button:hover {
  opacity: 0.8;
  transform: scaleX(0.95);
}

.game-button.black {
  background-color: var(--title-black);
  color: var(--title-darkpink);
}

.game-button.pink {
  background-color: var(--title-darkpink);
  color: var(--title-black);
}

.modal button {
  width: 100%;
}
