/***************************************************** GAME MODALS *****************************************************/
.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 25vw;
  height: 30vh;
  background-color: white; /* TO REMOVE */
  color: black;
  padding: 2.5rem 1.5rem;
  font-family: "guava-candy", monospace;
  transition: all 300ms ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50%/10%;
  z-index: 50;
}

/* .modal-shape {
} */

/* Added for TV-shaped div */
.modal::before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: white;
  color: white;
  border-radius: 5%/50%;
  z-index: -10;
}

/* Close modal button on top-right corner */
.close-modal-btn {
  position: absolute;
  transform: translate(50%, -10%);
  top: 0;
  right: 0;
  text-align: center;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  background-color: inherit;
}

.hidden {
  transform: scale(0);
}

.active {
  transform: scale(1);
}
